*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}


.choice{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
   
    
}
.choice:hover{
    background-color: blue;
    opacity: 0.4;
    cursor: pointer;
   
   
}
img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}

#user-score,
#computer-score{
    font-size: 2rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}